<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aether.host">

    <application
        android:name=".AetherApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".virtualization.activity.VirtualActivity"
            android:exported="false" />
        <activity
            android:name=".virtualization.activity.ProxyActivity"
            android:exported="false" />
        <activity
            android:name=".virtualization.activity.ProxyPendingActivity"
            android:exported="false" />
        <activity
            android:name=".virtualization.activity.TransparentProxyActivity"
            android:exported="false" />
        <service android:name=".virtualization.components.service.ProxyService" />
        <service android:name=".virtualization.components.service.ProxyJobService" />
        <receiver android:name=".virtualization.components.receiver.ProxyBroadcastReceiver" />
        <provider
            android:name=".virtualization.components.provider.ProxyContentProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false" />
    </application>

</manifest>
