<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".FixtureApplication"
        android:label="Aether S1 Fixture"
        android:theme="@style/FixtureTheme">
        <activity
            android:name=".FixtureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".FixtureService"
            android:exported="false" />
        <receiver
            android:name=".FixtureReceiver"
            android:exported="false" />
    </application>
</manifest>
